#contact {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.65);
}

#contact::before {
    content: "";
    position: absolute;
    background: url('img-css/contact-us.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 970px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

.container {
    padding: 40px;
    width: 70%;
    border-radius: 5px;
    color: white;
}

.container h1 {
    font-size: 2em;
    margin: 15px 0;
}

.form-box {
    margin: 40px 0;
}

.form-box label {
    text-transform: uppercase;
    margin: 5px 0;
}

.form-box input {
   padding: 15px;
   border: none;
   border-radius: 3px;
   background-color: rgba(218, 209, 209, 0.938);
}

.form-box textarea {
   border: none;
   background-color: rgba(218, 209, 209, 0.938);
   padding: 15px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.form-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 40%;
    padding: 15px 0;
    background-color: #2ac37d;
    border-radius: 25px;
    transition: 0.5s;
}

.form-btn button:hover {
    background-color:  rgba(42, 195, 125, 0.8);
}
