#shop-products {
    display: flex;
    padding: 0 90px;
    margin: 50px 70px;
}

.left-container {
    margin: 10px;
}

.appear {
    margin: 20px;
}

img {
    cursor: pointer;
}

.top img {
    height: auto;
    max-width: 100%;
}

.bottom {
    padding: 7px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.bottom img {
    margin: 5px;
    width: 19%;
}

.right-container {
    margin: 10px;
    width: 80%;
}

.description {
    width: 100%;
}

.text {
    line-height: 25px;

}

.more-info {
    margin: 25px 0;
}

.more-info span {
    color: #f75b5b;
}

.more-info h5 {
    font-weight: 500;
    margin: 10px 0;
}

.more-info span a {
    padding: 0 2px;
    color: #f75b5b;
    transition: 0.4s;
}

.more-info span a:hover {
    text-decoration: underline;
    color: black;
}

.quantity {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quantity h4 {
    font-weight: 500;
}

.quantity select, input {
    padding: 15px;
    border: none;
    border-radius: 3px;
    background-color: #e4e4e4;
    margin: 15px 0;
}

.quantity input {
    width: 13%;
}

.input-btns {
    display: flex;
}

.input-btns .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 8px 0px 0px;
    padding: 15px 14px;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.input-btns .btn span {
    padding: 0 5px;
}

#mid-container {
    /* border: 1px solid black; */
    padding: 0 90px;
    margin: 50px 70px;
}

.mid-nav {
    border-bottom:black;
    display: flex;
}

.mid-nav h4 {
    margin-right: 20px;
    color: black;
    margin: 0 10px;
    padding: 10px 0;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.mid-nav h4:hover {
    color: #f75b5b;
    cursor: pointer;
}

.alltime {
    border-bottom: 3px solid white;
}
.navigate {
    border-bottom: 3px solid #f75b5b;
}


.mid-info {
    padding: 0 10px;
}

.mid-info h1 {
    font-weight: 400;
    margin: 20px 0;
}

.mid-info p {
    margin: 15px 0;
} 

.information {
    transition: 0.5s;

}

.shop-attributes {
    text-align: left;
}

.add-info{
    display: none;
    transition: 0.5s;
}

.reviews {
    display: none;
}

.reviews h2 {
    margin: 20px 0;
}

.add-info h3 {
    margin: 15px 0;
}

table {
    font-size: 1.1em;
}

table th {
    padding-right: 25px ;
}

table th,td {
    padding-top: 10px;

}

hr {
    margin: 50px 160px;
}

#desc-carousel {
    padding: 0 90px;
    margin: 50px 70px;
}

#desc-carousel h1 {
    margin: 10px 8px;
    padding: 10px 0;
    font-weight: 400;
}

.img {
    margin: 10px;
    text-align: center;
}

.img h2{
    color: rgb(22, 21, 21, 0.8);
    font-weight: 400;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.4s;
}

.img h2:hover{
    color: #f75b5b;
}

.other-price {
    font-size: 1.3em;
    font-weight: 500;
}

.other-price {
    color: #f75b5b;
}

.img img {
    height: auto;
    max-width: 100%;
}

#footer {
    background-image: url('img-css/bg-3.jpg');
    color: white;
}

@media only screen and (max-width: 1140px) {
    #shop-products {
        flex-direction: column;
    }

    .right-container {
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 925px) {
    #shop-products {
        padding: 0 24px;
        margin: 50px;
    }

    .right-container .description {
        font-size: 17px;
    }

    #mid-container {
        padding: 0 24px;
        margin: 50px;
    }

    hr {
        margin: 50px 84px;
    }

    #desc-carousel {
        padding: 0 24px;
        margin: 50px;
    }
}

@media only screen and (max-width: 784px) {
    .bottom img{
        width: 17%;
    }

    .right-container .description {
        padding: 15px 9px;
        margin: 10px 0;
        font-size: 15px;
    }

    #mid-container {
        font-size: 15px;
    }

    #desc-carousel .img {
        font-size: 12px;
    }
}

@media only screen and (max-width: 669px) {
     .right-container .description {
         font-size: 14px;
     }

     #mid-container {
         font-size: 14px;
     }

     #desc-carousel .carousel {
         flex-direction: column;
     }

     #desc-carousel h1 {
         margin-bottom: 30px;
     }

     #desc-carousel .img {
        font-size: 16px;
    }
}


@media only screen and (max-width: 625px){
    #shop-products {
        padding: 0 12px;
        margin: 50px 42px;
    }

    #mid-container {
        padding: 0 12px;
        margin: 50px 42px;
    }

    hr {
        margin: 50px 68px;
    }

    #desc-carousel {
        padding: 0 15px;
        margin: 50px 45px;
    }

    .footer-box img {
        width: 120px;
    }

    .footer-box .logo {
        padding: 0;
    }
}

@media only screen and (max-width: 490px){
    .right-container .description{
        font-size: 13px;
    }

    .right-container .description h2:not(.price) {
        font-size: 25px;
    }

    .input-btns .btn {
        padding: 12px 14px;
    }

    .input-btns .btn span {
        font-size: 16px;
    }

    #mid-container {
        font-size: 13px;
    }

    hr {
        margin: 22px 68px;
    }

    #desc-carousel {
        font-size: 15px;
    }

    #desc-carousel .img {
        font-size: 14px;
    }
}


@media only screen and (max-width: 439px){ 
    #shop-products {
        padding: 0;
        margin: 50px 36px;
    }

    #mid-container {
        padding: 0;
        margin: 50px 36px;
    }

    #desc-carousel {
        padding: 0 5px;
        margin: 50px 40px;
    }

    hr {
        margin: 37px 45px;
    }

    #desc-carousel .img {
        font-size: 13px;
    }
}

@media only screen and (max-width: 387px){
    .footer-box img {
        width: 90px;
    }

    #shop-products {
        margin: 50px 24px;
    } 

    #mid-container {
        margin: 50px 24px;
        font-size: 12px;
    }

    hr {
        margin: 23px 34px;
    }

    #desc-carousel {
        padding: 0 5px;
        margin: 22px 25px;
    }
}