

/* Gallery */

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.boxes {
    display: flex;
    width: 85%;
}

.box {
    margin: 5px;
}

.zoom {
    height: auto;
    max-width: 100%;
    margin: 5px 0px;
    cursor: zoom-in;
    transition: 0.5s;
}

.box img:hover{
    transform: translate3d(0px,-10px,0px);
}

.h-primary{
    text-align: center;
    margin: 7px;
    padding: 15px;
}

.h-primary h1 {
    font-size: 3em;
}

.image-container {
    position: fixed;
    top: 0;
    background-color: rgba(20, 33, 61, 0.5);
    backdrop-filter: blur(1rem);
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 41;
    transition: 0.5s;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
    overflow: hidden;
    transition: 0.5s;
}

.carousel img {
    height: 90vh;
}

#cross {
    position: absolute;
    top: 5%;
    right: 3%;
    color: white;
    font-size: 2em;
    font-weight: 900;
    cursor: pointer;
}

#prev {
    position: absolute;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    left: 5%;
    transition: 0.6s;
}

#next {
    position: absolute;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    right: 5%;
    transition: 0.6s;
}

#prev:hover {
    color: rgb(207, 189, 189);
}
#next:hover {
    color: rgb(196, 173, 173);
}


/* Footer */

#footer {
    background-image: url('bg-3.jpg');
    color: white;
    /* height: 50vh; */
}
