@media only screen and (max-width: 1455px){
    .navbar {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1363px) {
    .navbar ul {
        width: 66%;
    }

    .logo img {
        width: 120px;
    }
}

@media only screen and (max-width: 1346px){
    .navbar ul {
        width: 70%;
    }

    .logo {
        margin: 0 60px;
    }

    #inside-content {
        height: 613px;
    }

    .left-box {
        position: static;
        margin-top: 85px;
        margin-left: 80px;
        font-size: 13px;
    }

    .right-box {
        font-size: 200px;
    }

    .right-box img {
        top: -280px;
    }
}

@media only screen and (max-width: 1267px){
    .navbar ul {
        width: 75%;
    }

    .logo img {
        width: 110px;
    }
}


@media only screen and (max-width: 1185px){
    .navbar {
        font-size: 13px;
    }
    
    .navbar ul li a {
        padding: 0 17px;
    }
    
    #inside-content {
        height: 571px;
    }
}

@media only screen and (max-width: 1083px){
    .navbar {
        font-size: 13px;
    }

    .logo img {
        width: 104px;
    }

   .navbar ul {
       width: 80%;
   }

   .navbar ul li a {
       padding: 0 11px;
   }
}

@media only screen and (max-width: 1020px){

    .navbar {
        font-size: 10.5px;
    }

    .logo img {
        width: 95px;
    }

    #inside-content {
        height: 485px;
    }

    .left-box {
        font-size: 11px;
    }

    .right-box{
        font-size: 179px;
    }

    #Products {
        padding: 20px;
    }

    .slide img {
        width: 500px;
    }

    #left-section {
        padding: 0;
    }

    .head h4 {
        padding: 0 35px;
    }

    .head h1 {
        padding: 0 35px;
    }

    .hr {
        margin-left: 35px;
    }

    .para {
        padding: 0 35px;
        margin: 10px 0;
    }

    .list ul {
        padding: 0 35px;
        font-size: 14px;
    }



    #discount {
        font-size: 12px;
        /* height: 28vh; */
    }

    .subscribe {
        min-width: 50%;
    }
}

@media only screen and (max-width: 880px){

    /* .top-container {
        align-items: flex-start;
    } */

    /* .navbar, .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        width: 20%;
    }

    .logo {
        margin-right: 350px;
        width: 15%;
    }

    .icons {
        padding: 5px 0px;
    }

    .navbar ul li {
        padding: 10px 0;
    } */

    .logo {
        margin: 3px 32px;
    }

    .logo img {
        width: 90px;
    }

    .hamburger {
        display: block;
        top: 17px;
    }

    .close {
        display: block;
    }
    /* .h-nav {
        height: 35vh;
    } */

    /* .v-class {
        opacity: 0;
    } */

    .navbar ul{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #181a1b;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 30%;
        /* border: 1px solid white; */
        font-size: 14px;
        transition: 0.3s;
    }

    .navbar ul li a {
        padding: 33px 0;
    }

    .icons {
        padding: 33px 0;
        color: rgba(253, 244, 244, 0.3);
    }

    .navGo {
        transform: translateY(-100%);
    }

    .left-box {
        font-size: 11px;
        margin-top: 106px;
        margin-left: 54px;
    }

    .right-box{
        font-size: 160px;
        margin: 40px 0;
   }

    .right-box img {
        top: -230px;
    }

    .bg {
        flex-direction: column;
 
    }
 
    .footer-box {
        margin: 21px 27px;
        width: 85%;
        font-size: 15px;
    }
 
    .footer-box img {
        max-width: 150px;
    }
 
    .social {
        font-size: 20px;
    }
 
    .desc {
        width: 100%;
    }
}

@media only screen and (max-width: 798px) {

    /* .logo {
        margin-left: -15px;
        padding: 5px;
        width: 18%;
    }

    .hamburger {
        top: 18px;
    } */

   #inside-content {
       flex-direction: column;
       height: 646px;
   }

   .left-box {
       font-size: 11px;
       margin-top: 30px;
       width: 50%;
   }

   .right-box {
       margin-top: -18px;
       margin-left: 50px;
       text-align: left;
       font-size: 140px;
   }

   .right-box h1 {
       margin-right: 0;
   }

   .right-box img {
       top: -250px;
       width: 75%;
   }

   /* .right-box img{
       max-width: 80%;
   } */

   .buttons {
       display: flex;
       justify-content: space-between;
   }

   .slide img {
       width: 480px;
   }

   .slide {
       font-size: 16px;
   }

   #featured {
       font-size: 12px;
       flex-direction: column;
   }

   #left-section {
       padding: 20px 50px;
   }

   .head h4 {
       padding: 0 25px; 
   }

   .head h1 {
       padding: 0 25px;
   }

   .hr {
       margin-left: 25px;
   }

   .para {
       padding: 0 25px;
   }

   .list ul {
       padding: 0 25px;
       font-size: 14px;
   }

  
}

@media only screen and (max-width: 646px) {
    /* .logo {
        margin-left: 10px;
    }

    .hamburger {
        top: 15px;
    } */

    .navbar ul {
        width: 35%;
    }

    #close {
        right: 27%;
    }
    .right-box img {
        width: 95%;
    }
}

@media only screen and (max-width: 615px) {
    /* .navbar {
        font-size: 11px;
    }
    .logo {
        width: 20%;
    } */

    .navbar ul {
        width: 40%;
    }

    #close {
        right: 31%;
    }
    .logo {
        margin: 3px 15px;
    }

    .hamburger {
        right: 5.5%;
    }

    .right-box {
        margin-top: 0px;
        font-size: 140px;
    }

    .right-box img {
        width: 89%;
        top: -230px;
    }

    .slide {
        font-size: 14px;
    }

    #featured {
        font-size: 14px;
    }
}

@media only screen and (max-width: 537px){

    /* .navbar {
        width: 40%;
    }
    .logo {
        margin-right: 150px;
        width: 27%;
        padding: 10px;
    }

    .hamburger {
        top: 19px;
        right: 5%;
    } */

    #inside-content {
        height: 625px;
    }

    .left-box {
        font-size: 13px;
        margin-left: 35px;
    }

    .right-box {
        font-size: 124px;
        margin-left: 30px;
    }

    .right-box img {
        width: 96%;
    }

    .slide {
        font-size: 12px;
    }

    .slide img {
        width: 440px;
    }

    #discount {
        font-size: 12px;
    }

    #slider {
        height: 479px;
    }
}

@media only screen and (max-width: 496px){
    .navbar ul {
        width: 50%;
    }

    #close {
        right: 40%;
    }
    #inside-content {
        height: 605px;
    }

    .left-box {
        font-size: 12px;
    }

    .right-box img {
        width: 100%;
    }
}


@media only screen and (max-width: 479px){
    #inside-content {
        height: 563px;
    }

    /* .logo {
        margin-left: 0px;
    } */

    .left-box {
        font-size: 11.5px;
        margin-left: 25px;
    }

    .right-box {
        margin-left: 20px;
        font-size: 125px;
    }

    .right-box img {
        width: 95%;
    }

    #left-section {
        padding: 15px 0px;
        margin: 20px 0;
    }

    .footer-box {
        margin: 20px 23px;
    }

    .footer-box img {
        max-width: 130px;
    }

}

@media only screen and (max-width: 444px) {

    /* .logo {
        margin-left: 0px;
        width: 34%;
        padding: 10px;
    }

    .hamburger {
        top: 18px;
    } */

    .logo {
        margin: 3px 2px;
    }

    .logo img {
        width: 81px;
    }

    .right-box img {
        top: -218px;
        width: 95%;
    }
    
    .line {
        width: 27px;
        height: 3px;
    }

    .left-box{
        margin-top: 24px;
        font-size: 10.5px;
    }

    .slide img {
        width: 380px;
        margin: 20px;
    }

    .slide {
        font-size: 11px;
    }

    #discount {
        font-size: 11px;
    }

    .footer-box {
        margin: 20px 15px;
    }
}

@media only screen and (max-width: 397px) {
    /* .navbar {
        font-size: 10px;
        width: 50%;
    }

    .logo {
        width: 44%;
    } */

    .hamburger {
        top: 14px;
    }

    #inside-content {
        height: 595px;
    }

    .left-box{
        margin-top: 50px;
        width: 70%;
        font-size: 11.5px;
    }

    .red-line {
        width: 15%;
    }

    .left-box h2,h3,.buttons{
        margin-left: 45px;
    }

    .right-box {
        font-size: 120px;
        margin-left: 0;
    }

    .right-box img {
        width: 100%;
        left: 15px;
        top: -200px;
    }

    .slide {
        font-size: 10px;
    }

    #discount {
        font-size: 10px;
    }
    
    .footer-box {
        font-size: 13px;
    }
}

@media only screen and (max-width: 380px) {

    /* .logo {
        width: 66%;
    }

    .hamburger {
        top: 17px;
        right: 5%;
    } */

    #inside-content {
        height: 570px;
    }

    .left-box {
        width: 75%;
    }

    .right-box img {
        top: -209px;
        width: 100%;
        left: 22px;
    }

    .slide img {
        width: 330px;
    }

    #slider {
        height: 460px;
    }

    #discount {
        font-size: 9px;
    }

    #featured .box1,.box2{
        font-size: 13px;
    }

    .footer-box {
        font-size: 14px;
    }
}

@media only screen and (max-width: 353px) {
    .navbar ul{
        font-size: 12px;
        width: 100%;
    }

    #close {
        right: 43%;
    }
    #inside-content {
        height: 607px;
    }

    .logo img {
        width: 69px;
    }

    .hamburger {
        top: 12px;
    }

    .line {
        width: 26px;
        height: 2.5px;
    }
}