@media only screen and (max-width: 1427px){
    #navbar {
        width: 60%;
    }
}

@media only screen and (max-width: 1346px){

    #navbar {
        width: 65%;
    }

    .left-box {
        position: static;
        margin-top: 85px;
        margin-left: 80px;
        font-size: 13px;
    }

    .right-box {
        font-size: 200px;
    }

    .right-box img {
        top: -280px;
    }
}

@media only screen and (max-width: 1020px){

    .left-box {
        font-size: 11px;
    }

    .right-box{
        font-size: 179px;
    }

    #Products {
        padding: 20px;
    }

    .slide img {
        width: 500px;
    }

    #left-section {
        padding: 0;
    }

    .head h4 {
        padding: 0 35px;
    }

    .head h1 {
        padding: 0 35px;
    }

    .hr {
        margin-left: 35px;
    }

    .para {
        padding: 0 35px;
        margin: 10px 0;
    }

    .list ul {
        padding: 0 35px;
        font-size: 14px;
    }



    #discount {
        font-size: 12px;
        /* height: 28vh; */
    }

    .subscribe {
        min-width: 50%;
    }
}

@media only screen and (max-width: 880px){

    .top-container {
        align-items: flex-start;
        /* position: fixed;
        z-index: 40; */
    }

    #navbar, #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar {
        width: 20%;
    }

    .logo {
        margin-right: 250px;
        width: 15%;
    }

    .icons {
        padding: 5px 0px;
    }

    #navbar ul li {
        padding: 10px 0;
    }

    .hamburger {
        display: block;
    }

    /* .h-nav {
        height: 35vh;
    } */

    /* .v-class {
        opacity: 0;
    } */
    
    .v-class {
        display: none;
    }

    #navbar ul {
        display: none;
    }

    .togle {
        display: flex !important;
    }

    .left-box {
        font-size: 11px;
        margin-top: 106px;
        margin-left: 54px;
    }

    .right-box{
        font-size: 160px;
        margin: 40px 0;
   }

    .right-box img {
        top: -230px;
    }

    .footer-box {
        margin: 40px 0;
        font-size: 14px;
    }   
}

@media only screen and (max-width: 798px) {

    .logo {
        margin-left: 10px;
    }

   #inside-content {
       flex-direction: column;
   }

   .left-box {
       font-size: 11px;
       margin-top: 30px;
       width: 50%;
   }

   .right-box {
       margin-top: -15px;
       margin-left: 50px;
       text-align: left;
       font-size: 140px;
   }

   .right-box h1 {
       margin-right: 0;
   }

   /* .right-box img{
       max-width: 80%;
   } */

   .buttons {
       display: flex;
       justify-content: space-between;
   }

   .slide img {
       width: 480px;
   }

   .slide {
       font-size: 16px;
   }

   #featured {
       font-size: 12px;
       flex-direction: column;
   }

   #left-section {
       padding: 20px 50px;
   }

   .head h4 {
       padding: 0 25px; 
   }

   .head h1 {
       padding: 0 25px;
   }

   .hr {
       margin-left: 25px;
   }

   .para {
       padding: 0 25px;
   }

   .list ul {
       padding: 0 25px;
       font-size: 14px;
   }

   .bg {
       flex-direction: column;

   }

   .footer-box {
       margin: 21px 41px;
       width: 85%;
       font-size: 15px;
   }

   .footer-box img {
       max-width: 150px;
   }

   .social {
       font-size: 20px;
   }

   .desc {
       width: 100%;
   }
}

@media only screen and (max-width: 615px) {
    .logo {
        margin-right: 200px;
    }

    .left-box {
        font-size: 14px;
    }

    .right-box {
        margin-top: 0px;
        font-size: 135px;
    }

    .right-box {
        font-size: 130px;
    }

    .right-box img {
        width: 95%;
        top: -200px;
    }

    .slide {
        font-size: 14px;
    }

    #featured {
        font-size: 14px;
    }
}

@media only screen and (max-width: 537px){

    #navbar {
        width: 40%;
    }
    .logo {
        margin-right: 120px;
        width: 20%;
    }

    .hamburger {
        top: 17px;
    }

    .left-box {
        font-size: 13px;
        margin-left: 35px;
    }

    .right-box {
        margin-left: 30px;
    }

    .slide {
        font-size: 12px;
    }

    .slide img {
        width: 440px;
    }

    #discount {
        font-size: 12px;
    }

    #slider {
        height: 479px;
    }
}

@media only screen and (max-width: 479px){
    .logo {
        margin-left: 0px;
    }

    .left-box {
        font-size: 12px;
        margin-left: 25px;
    }

    .right-box {
        margin-left: 20px;
        font-size: 125px;
    }

    .right-box img {
        width: 100%;
    }

    #left-section {
        padding: 15px 0px;
        margin: 20px 0;
    }

    .footer-box {
        margin: 20px 23px;
    }

    .footer-box img {
        max-width: 130px;
    }

}

@media only screen and (max-width: 444px) {

    .logo {
        margin-left: 12px;
        width: 25%;
    }

    .hamburger {
        top: 11px;
    }
    
    .line {
        width: 27px;
        height: 3px;
    }

    .left-box{
        font-size: 11px;
    }

    .slide img {
        width: 380px;
        margin: 20px;
    }

    .slide {
        font-size: 11px;
    }

    #discount {
        font-size: 11px;
    }

    .footer-box {
        margin: 20px 15px;
    }
}

@media only screen and (max-width: 397px) {

    .logo{
        width: 25%;
    }

    .hamburger {
        top: 16px;
    }

    .left-box{
        margin-top: 50px;
        width: 70%;
        font-size: 12.5px;
    }

    .red-line {
        width: 15%;
    }

    .left-box h2,h3,.buttons{
        margin-left: 45px;
    }

    .right-box {
        font-size: 120px;
        margin-left: 0;
    }

    .right-box img {
        width: 90%;
        left: 40px;
    }

    .slide {
        font-size: 10px;
    }

    #discount {
        font-size: 10px;
    }
}

@media only screen and (max-width: 380px) {

    .slide img {
        width: 350px;
    }

    #slider {
        height: 460px;
    }

    #featured .box1,.box2{
        font-size: 13px;
    }

    .footer-box {
        font-size: 14px;
    }
}