@media only screen and (max-width: 1518px) {
    #shop-bg {
        height: 201px;
    }

    #shop-bg::before {
        height: 354px;
    }
}

@media only screen and (max-width: 1468px) {
    #shop-bg {
        height: 203px;
    }
}

@media only screen and (max-width: 1437px) {
    #shop-bg {
        height: 206px;
    }
}

@media only screen and (max-width: 1363px) {
    #shop-bg::before {
        height: 352px;
    }
}

@media only screen and (max-width: 1337px) {
    #shop-bg::before {
        height: 347px;
    }

    #shop-items {
        padding: 0;
    }
}

@media only screen and (max-width: 1278px) {
    #shop-bg:before {
        height: 350px;
    }
}

@media only screen and (max-width: 1267px) {
    #shop-bg {
        height: 213px;
    }
}

@media only screen and (max-width: 1225px) {
    #shop-bg:before {
        height: 350px;
    }
}

@media only screen and (max-width: 1157px) {
    #shop-bg {
        height: 204px;
    }

    #shop-bg::before {
        height: 341px;
    }

    .section1 {
        min-width: 16%;
    }
}

@media only screen and (max-width: 1108px) {

    #shop-bg {
        height: 215px;
    }
    #shop-bg::before {
        height: 352px;
    }

    #shop-items {
        flex-direction: column;
    }

    .section2 {
        min-width: 100%;
    }

    .description {
        font-size: 14px;
    }

    .image img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1083px) {
    #shop-bg {
        height: 219px;
    }
}

@media only screen and (max-width: 1057px) {
    #shop-bg::before {
        height: 352px;
    }
}

@media only screen and (max-width: 1023px) {
    #shop-bg {
        height: 218px;
    }
}

@media only screen and (max-width: 1021px) {
    #shop-bg {
        height: 218px;
    }

    #shop-bg::before {
        height: 344px;
    }
}

@media only screen and (max-width: 995px) {
    #shop-bg::before {
        height: 345px;
    }
}

@media only screen and (max-width: 945px) {
    #shop-bg {
        height: 196px;
    }
    #shop-bg::before {
        height: 322px;
    }
}

@media only screen and (max-width: 881px) {

    #shop-bg::before {
        height: 326px;
    }
}

@media only screen and (max-width: 837px){
    #shop-bg::before {
        height: 325px;
    }
}

@media only screen and (max-width: 828px) {

    .items {
        flex-direction: column;
    }

    .description {
        font-size: 17px;
        width: 100%;
        margin: 10px 11px;
    }

    .text {
        text-align: justify;
        margin: 10px 0;
    }

    .nav-btns {
        margin: 5px 20px;
    }
}

@media only screen and (max-width: 782px) {

    #shop-bg::before {
        height: 325px;
    }
}

@media only screen and (max-width: 537px) {
    .items-head {
        font-size: 13px;
        margin: 5px;
    }

    .description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 445px) {

    #shop-bg {
        height: 204px;
    }
}

@media only screen and (max-width: 410px) {

    #shop-bg {
        height: 191px;
    }

    #shop-bg::before {
        height: 313px;
    }
}

@media only screen and (max-width: 394px) {
    .section2 .btn {
        font-size: 12px;
    }

    #shop-items {
        margin: 50px 19px;
    }

    .footer-box img {
        max-width: 100px;
    }
    
    .footer-box .logo {
        
        padding: 0;
    }

    .footer-box {
        font-size: 12px;
    }
}

@media only screen and (max-width: 353px) {

    #shop-bg {
        height: 191px;
    }

    #shop-bg::before {
        height: 300px;
    }

    .logo {
        margin: 3px 2px;
    }

    .logo img {
        width: 61px;
    }
}

